body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.location::-webkit-scrollbar{
  display: none;
}

.goog-te-gadget-simple{
  display: flex !important;
  padding: 0 !important;
  border: none !important;
}

.goog-te-gadget-simple img, .goog-te-gadget-simple span img{
  display: none !important;
}

.goog-te-gadget-simple span{
  flex-grow: 1 !important;
}

.ant-modal{
  width: 385px !important
  ;
}

.ant-modal .ant-modal-footer {
  display: none
}

.ant-drawer-body{
  padding: 0px !important;
}

.ant-drawer-top>.ant-drawer-content-wrapper {
  height: 400px !important;
}
.ant-modal .ant-modal-title {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-size: 2vw;
}

.ant-notification-notice-wrapper .ant-notification-notice-with-icon .ant-notification-notice-message {
  font-size: 1.06vw !important;
}
@media screen and (max-width:480px) {
  .ant-notification-notice-wrapper .ant-notification-notice-with-icon .ant-notification-notice-message {
    font-size: 3vw !important;
  }
}

.ant-skeleton.ant-skeleton-element, .ant-skeleton.ant-skeleton-element .ant-skeleton-image{
  width: 100% !important;
  height: 100% !important;
}

.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;